@page "/"
@inject Services.Api.ICatFactApiService CatFactApiService

<PageTitle>Cat Facts</PageTitle>

<h1>Cat Facts</h1>

<div class="m-0 border-0">
    <div class="alert alert-light">
        <p class="text-dark">@_catFact?.Fact</p>
    </div>
</div>

@if(_isLoading)
{
    <button class="btn btn-primary" type="button" disabled="">
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Searching...</span>
    </button>
}
else
{
    <button class="btn btn-primary" type="button" @onclick="FetchCatFactAsync">Show new cat fact</button>
}

@code {
    private Models.CatFact? _catFact;
    private bool _isLoading = false;

    public async void FetchCatFactAsync()
    {
        _isLoading = true;
        _catFact = await CatFactApiService.Get();
        _isLoading = false;

        StateHasChanged();
    }
}